<section class="resume-section d-flex flex-column align-items-stretch" id="skills">
  <div class="my-auto resume-content" id="skills-content">
    <h2 class="mb-5">Skills</h2>
    {{ range $.Site.Data.skills }}
        <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
            <ul class="list-unstyled">
            {{ range .skills }}
              <li class="d-sm-inline-block">
                <i class="fa fa-angle-right"></i>
                {{ . }}
              </li>
            {{ end }}
            </ul>
    {{ end }}
  </div>
</section>
