<section class="resume-section" id="skills">
  <div class="my-auto resume-content" id="skills-content">
    <h2 class="mb-5">Skills</h2>
    {{ range $.Site.Data.skills }}
        <h3 class="mb-0">{{ .grouping }}</h3>
            <ul class="list-unstyled">
            {{ range .skills }}
              <li class="d-sm-inline-block">
                <i class="fa fa-angle-right"></i>
                {{ . }}
              </li>
            {{ end }}
            </ul>
    {{ end }}
  </div>
</section>
