:root {
  --accent-color: #D0021B;
  --accent-color-hover: #FD0826;
  --secondary-color: #363D4A;
  --body-color: #78808F;
  --knockout-color: #F9FAFB;

  --font-family: 'Muli', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-extra-bold: 800;
  --font-black: 900;

  --base-font-size: 10px;
  --mobile-font-size: calc(50px / 6);
  --body-font-size: 1.8rem;
  --h1-font-size: 4.8rem;
  --post-list-font-size: 2rem;
  --meta-font-size: 1.4rem;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font-family);
  line-height: 1.8;
  font-weight: var(--font-light);
  font-size: var(--body-font-size);
  color: var(--secondary-color);
  padding-top: 54px;
}

* {
    font-family: inherit;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 24rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-extra-bold);
  line-height: 1.25;
  font-style: italic;
  color: var(--secondary-color);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-black);
  color: var(--accent-color);
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  font-weight: var(--font-extra-bold);
  font-style: italic;
  font-size: 2.4rem;
}

.list-social-icons a {
  color: var(--secondary-color);
}

.list-social-icons a:hover {
  color: var(--body-color);
}

.list-social-icons a .fa-lg {
  font-size: 2.4rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: var(--accent-color);
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: var(--font-semi-bold);
  font-style: italic;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 16rem;
    max-height: 16rem;
    border: 1rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid var(--knockout-color);
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: var(--accent-color) !important;
}

.text-primary {
  color: var(--secondary-color) !important;
}

a {
  color: var(--accent-color);
}

a:hover, a:focus, a:active {
  color: var(--accent-color-hover);
}

img {
  max-width:80%;
}
