.p-0{
  margin: 0 auto;
}

/* ensure items with short summarues push date over image */
.thought-content{
  width:90%;
}



.tags {
  font-size: 0.75em;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  margin-top: -1em;
  margin-bottom: var(--size-xl);
}

.tags li {
  float: left;
}

.content .tags li:before {
  display: none;
}

.tag {
  display: inline-block;
  background: var(--color-container);
  color: var(--color-secondary);
  font-weight: var(--font-semi-bold);
  height: var(--size-m);
  line-height: var(--size-m);
  padding: 0 1.6em 0 2em;
  position: relative;
  margin: 0 var(--size-xs) var(--size-xs) 0;
  text-decoration: none;
}

.tag::before {
  content: '';
  background: #fff;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: 0.75em;
  left: 0.75em;
  border-radius: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 1em solid transparent;
  border-left: 0.75em solid #eee;
  border-top: 1em solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}

.project-fact{
  font-size:80%;
  font-style:italic;
}
