<section class="resume-section d-flex d-column align-items-stretch" id="about">
  <div class="my-auto resume-content">
    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="mr-auto">

        <h1>Hi, I'm Sarah.</h1>

      </div>
      {{ if .Site.Params.showQr }}
      {{ partial "contact-qr" . }}
      {{ end }}
    </div>
    <div>
      {{ .Content }}
      <ul class="list-inline list-social-icons mb-0 mt-4">
        {{ range .Site.Params.handles }}
        <li class="list-inline-item">
          <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
