{{ define "main" }}
   {{ partial "about.html" .}}
   {{ if .Site.Params.showCaseStudies }}
      {{ with .Site.GetPage "section" "case-studies" }}
         {{ .Scratch.Delete "sectionId" }}
         {{ .Scratch.Add "sectionId" "case-studies" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showThoughts }}
      {{ with .Site.GetPage "section" "thoughts" }}
         {{ .Scratch.Delete "sectionId" }}
         {{ .Scratch.Add "sectionId" "thoughts" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showSkills }}
       {{ partial "portfolio/skills.html" . }}
   {{ end }}
   {{ if .Site.Params.showExperience }}
       {{ partial "portfolio/experience.html" . }}
   {{ end }}
   {{ if .Site.Params.showEducation }}
       {{ partial "portfolio/education.html" . }}
   {{ end }}
{{ end }}
